
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;             
  display: flex;
  flex-wrap: wrap;
  gap: 24px;                 
  max-width: 1128px;       
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3); 
}


.gallery-link {
  display: block;   
  text-decoration: none;
  /* cursor: pointer;    */
  cursor: url(../images/cursor-hand-blue.svg) 12 12, pointer;
}


.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  object-fit: cover;          
  transition: transform 250ms ease, box-shadow 250ms ease, outline-color 250ms ease;
}


.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image {
  transform: scale(1.01);
  box-shadow:
  0 6px 20px rgba(0, 0, 0, 0.1),
  0 0 0 3px rgba(78, 116, 255, 0.25);
  transition: transform 250ms ease, box-shadow 250ms ease;
}


.gallery-link:focus {
  outline: none;
}